/*.
.color1 {color: #2356a4;}
.color2 {color: #297cc1;}
.color3 {color: #2ba5c8;}
.color4 {color: #39cccb;}
.color5 {color: #cbeaea;} */
body{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #cbeaea;
}

.column{
  background-color: #39cccb;
  float: left;
  width: 44%;
  border: 2px;
  border-top-width: 6px;
  border-bottom-color: black;
  border-style:double none ridge none;
  box-shadow: 8px 8px 3px #112a50;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  margin-right: 5%;
  margin-bottom: 20px;
  border-radius: 50%;
  box-sizing: border-box;
}
#col_1{
  margin-left: 3%;
}
#col_2{
  margin-right: 3%;
}
.projectList{
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}
.aboutProject{
  padding-right: 5%;
  padding-left: 5%;
  text-align: left;
}
li{
  margin-bottom: 5px;
  border-width: 1;
  border: 1px;
  border-bottom: 2px;
  border-style: none none solid none;
}
#listItem_1{
  border-color: black;
}
#aboutProject_ul{
  list-style: none;
}
.personalProjectList{
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}
.personalProjectAbout{
  padding-right: 5%;
  padding-left: 5%;
  text-align: left;
}
h4{
  background-color: #297cc1;
  border-radius: 100%;
  width: 100px;
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.aboutMe{
  padding-top: 200px;
  margin-top: 300px;
  margin-left: 5%;
  margin-right: 5%;
}
#pixelJacobInfo{
  font-weight: 600;
  font-size: 12px;
}
.aboutMeColumn{
  margin-right: 5%;
  float: left;
  width: 20%;
  background-color: #39cccb;
  border-radius: 50%;
  padding: 4%;
}
#backgroundColumn{
  margin-left: 100%;
  background-color: blue;
}

#blurb{
  font-weight: 600;
  margin-bottom: 30px;
}

h5{
  font-size: 18px;
}
#background{
  text-align: center;
}
#hobbies{
  list-style: none;
  text-align: center;
  padding-right: 40px;
  margin: auto;
}
.hobbiesLi
{
  border-style: none;
}
#skills{
  list-style: none;
  text-align: center;
  padding-right: 40px;
  margin: auto;
}
.skillsLi
{
  border-style: none;
}