body{
  text-align: center;
}
.column{
  
  background-color: khaki;
  float: left;
  width: 50%;
  border: 2px;
  border-top-width: 6px;
  border-bottom-color: black;
  border-style:double none dashed none;
  padding-left: 10px;
  box-sizing: border-box;
}
.projectList{
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}
.aboutProject{
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}
li{
  margin-bottom: 5px;
  border-width: 1;
  border: 1px;
  border-bottom: olive;
  border-style: none none solid none;
}
#listItem_1{
  border-color: black;
}
#aboutProject_ul{
  list-style: none;
}
.aboutMe{
  margin-top: 80%;
}